---
---

@import "{{ site.theme }}";

ul.lst-kix_afs3k18fnsu5-6{list-style-type:none}
ul.lst-kix_afs3k18fnsu5-5{list-style-type:none}
ul.lst-kix_afs3k18fnsu5-4{list-style-type:none}
ul.lst-kix_afs3k18fnsu5-3{list-style-type:none}
ul.lst-kix_afs3k18fnsu5-8{list-style-type:none}
ol.lst-kix_win26hr52u3x-1.start{counter-reset:lst-ctn-kix_win26hr52u3x-1 0}
ul.lst-kix_afs3k18fnsu5-7{list-style-type:none}
.lst-kix_cuccmufq2tm3-8>li{counter-increment:lst-ctn-kix_cuccmufq2tm3-8}
ol.lst-kix_ykwyem14egzq-8{list-style-type:none}
ol.lst-kix_ykwyem14egzq-7{list-style-type:none}
ol.lst-kix_ykwyem14egzq-2{list-style-type:none}
ol.lst-kix_ykwyem14egzq-1{list-style-type:none}
ol.lst-kix_ykwyem14egzq-0{list-style-type:none}
ol.lst-kix_ykwyem14egzq-6{list-style-type:none}
.lst-kix_ykwyem14egzq-8>
li{counter-increment:lst-ctn-kix_ykwyem14egzq-8}
ol.lst-kix_ykwyem14egzq-5{list-style-type:none}
ol.lst-kix_ykwyem14egzq-4{list-style-type:none}
ol.lst-kix_ykwyem14egzq-3{list-style-type:none}
ol.lst-kix_ykwyem14egzq-0.start{counter-reset:lst-ctn-kix_ykwyem14egzq-0 0}
.lst-kix_eitjk3zg2xky-1>
li{counter-increment:lst-ctn-kix_eitjk3zg2xky-1}
ol.lst-kix_cuccmufq2tm3-5.start{counter-reset:lst-ctn-kix_cuccmufq2tm3-5 0}
ul.lst-kix_win26hr52u3x-7{list-style-type:none}
ul.lst-kix_win26hr52u3x-6{list-style-type:none}
ul.lst-kix_win26hr52u3x-8{list-style-type:none}
ul.lst-kix_win26hr52u3x-3{list-style-type:none}
ul.lst-kix_win26hr52u3x-2{list-style-type:none}
ul.lst-kix_win26hr52u3x-5{list-style-type:none}
ul.lst-kix_win26hr52u3x-4{list-style-type:none}
ul.lst-kix_afs3k18fnsu5-2{list-style-type:none}
ul.lst-kix_afs3k18fnsu5-1{list-style-type:none}
ul.lst-kix_afs3k18fnsu5-0{list-style-type:none}
ul.lst-kix_win26hr52u3x-0{list-style-type:none}
.lst-kix_4ysbrerhfido-0>
li:before{content:"\0025cf  "}
.lst-kix_eitjk3zg2xky-0>
li:before{content:"" counter(lst-ctn-kix_eitjk3zg2xky-0,decimal) ". "}
ol.lst-kix_eitjk3zg2xky-0.start{counter-reset:lst-ctn-kix_eitjk3zg2xky-0 0}
ol.lst-kix_cuccmufq2tm3-4.start{counter-reset:lst-ctn-kix_cuccmufq2tm3-4 0}
ul.lst-kix_869pmfprd98s-3{list-style-type:none}
ul.lst-kix_869pmfprd98s-4{list-style-type:none}
ul.lst-kix_869pmfprd98s-1{list-style-type:none}
ul.lst-kix_869pmfprd98s-2{list-style-type:none}
ul.lst-kix_869pmfprd98s-7{list-style-type:none}
ul.lst-kix_869pmfprd98s-8{list-style-type:none}
ul.lst-kix_869pmfprd98s-5{list-style-type:none}
ul.lst-kix_869pmfprd98s-6{list-style-type:none}
.lst-kix_cuccmufq2tm3-4>
li:before{content:"" counter(lst-ctn-kix_cuccmufq2tm3-4,lower-latin) ". "}
ul.lst-kix_b9zy9fimfcnz-0{list-style-type:none}
ul.lst-kix_869pmfprd98s-0{list-style-type:none}
.lst-kix_cuccmufq2tm3-5>
li:before{content:"" counter(lst-ctn-kix_cuccmufq2tm3-5,lower-roman) ". "}
.lst-kix_eitjk3zg2xky-6>
li:before{content:"\0025cf  "}
.lst-kix_cuccmufq2tm3-6>
li:before{content:"" counter(lst-ctn-kix_cuccmufq2tm3-6,decimal) ". "}
.lst-kix_cuccmufq2tm3-8>
li:before{content:"" counter(lst-ctn-kix_cuccmufq2tm3-8,lower-roman) ". "}
.lst-kix_eitjk3zg2xky-8>
li:before{content:"\0025a0  "}
.lst-kix_eitjk3zg2xky-7>
li:before{content:"\0025cb  "}
.lst-kix_cuccmufq2tm3-7>
li:before{content:"" counter(lst-ctn-kix_cuccmufq2tm3-7,lower-latin) ". "}
.lst-kix_eitjk3zg2xky-2>
li:before{content:"\0025a0  "}
.lst-kix_ykwyem14egzq-6>
li{counter-increment:lst-ctn-kix_ykwyem14egzq-6}
.lst-kix_eitjk3zg2xky-1>
li:before{content:"" counter(lst-ctn-kix_eitjk3zg2xky-1,lower-latin) ". "}
.lst-kix_eitjk3zg2xky-5>
li:before{content:"\0025a0  "}
ul.lst-kix_b9zy9fimfcnz-4{list-style-type:none}
ul.lst-kix_b9zy9fimfcnz-3{list-style-type:none}
ul.lst-kix_b9zy9fimfcnz-2{list-style-type:none}
ul.lst-kix_b9zy9fimfcnz-1{list-style-type:none}
.lst-kix_eitjk3zg2xky-4>
li:before{content:"\0025cb  "}
ul.lst-kix_b9zy9fimfcnz-8{list-style-type:none}
.lst-kix_win26hr52u3x-1>
li{counter-increment:lst-ctn-kix_win26hr52u3x-1}
ul.lst-kix_b9zy9fimfcnz-7{list-style-type:none}
.lst-kix_eitjk3zg2xky-3>
li:before{content:"\0025cf  "}
ul.lst-kix_b9zy9fimfcnz-6{list-style-type:none}
ul.lst-kix_b9zy9fimfcnz-5{list-style-type:none}
.lst-kix_da9wdzsvahzj-0>
li:before{content:"\0025cf  "}
.lst-kix_869pmfprd98s-7>
li:before{content:"\0025cb  "}
ol.lst-kix_ykwyem14egzq-4.start{counter-reset:lst-ctn-kix_ykwyem14egzq-4 0}
.lst-kix_da9wdzsvahzj-6>
li:before{content:"\0025cf  "}
ol.lst-kix_ykwyem14egzq-7.start{counter-reset:lst-ctn-kix_ykwyem14egzq-7 0}
.lst-kix_ykwyem14egzq-5>
li:before{content:"" counter(lst-ctn-kix_ykwyem14egzq-5,lower-roman) ". "}
.lst-kix_da9wdzsvahzj-8>
li:before{content:"\0025a0  "}
.lst-kix_869pmfprd98s-3>
li:before{content:"\0025cf  "}
.lst-kix_ykwyem14egzq-1>
li:before{content:"" counter(lst-ctn-kix_ykwyem14egzq-1,lower-latin) ". "}
.lst-kix_ykwyem14egzq-3>
li:before{content:"" counter(lst-ctn-kix_ykwyem14egzq-3,decimal) ". "}
.lst-kix_869pmfprd98s-5>
li:before{content:"\0025a0  "}
.lst-kix_cuccmufq2tm3-1>
li{counter-increment:lst-ctn-kix_cuccmufq2tm3-1}
.lst-kix_cuccmufq2tm3-2>
li:before{content:"" counter(lst-ctn-kix_cuccmufq2tm3-2,lower-roman) ". "}
.lst-kix_cuccmufq2tm3-0>
li:before{content:"" counter(lst-ctn-kix_cuccmufq2tm3-0,decimal) ". "}
.lst-kix_ykwyem14egzq-7>
li:before{content:"" counter(lst-ctn-kix_ykwyem14egzq-7,lower-latin) ". "}
.lst-kix_869pmfprd98s-1>
li:before{content:"\0025cb  "}
.lst-kix_afs3k18fnsu5-5>
li:before{content:"\0025a0  "}
.lst-kix_4ysbrerhfido-4>
li:before{content:"\0025cb  "}
.lst-kix_4ysbrerhfido-2>
li:before{content:"\0025a0  "}
.lst-kix_da9wdzsvahzj-4>
li:before{content:"\0025cb  "}
ol.lst-kix_eitjk3zg2xky-1.start{counter-reset:lst-ctn-kix_eitjk3zg2xky-1 0}
.lst-kix_afs3k18fnsu5-7>
li:before{content:"\0025cb  "}
.lst-kix_da9wdzsvahzj-2>
li:before{content:"\0025a0  "}
ol.lst-kix_cuccmufq2tm3-1.start{counter-reset:lst-ctn-kix_cuccmufq2tm3-1 0}
ul.lst-kix_eitjk3zg2xky-2{list-style-type:none}
.lst-kix_4ysbrerhfido-6>
li:before{content:"\0025cf  "}
ol.lst-kix_ykwyem14egzq-6.start{counter-reset:lst-ctn-kix_ykwyem14egzq-6 0}
ul.lst-kix_eitjk3zg2xky-3{list-style-type:none}
ul.lst-kix_eitjk3zg2xky-4{list-style-type:none}
ul.lst-kix_eitjk3zg2xky-5{list-style-type:none}
.lst-kix_4ysbrerhfido-8>
li:before{content:"\0025a0  "}
ul.lst-kix_eitjk3zg2xky-6{list-style-type:none}
ul.lst-kix_eitjk3zg2xky-7{list-style-type:none}
ul.lst-kix_eitjk3zg2xky-8{list-style-type:none}
.lst-kix_ykwyem14egzq-4>
li{counter-increment:lst-ctn-kix_ykwyem14egzq-4}
ul.lst-kix_da9wdzsvahzj-7{list-style-type:none}
ul.lst-kix_da9wdzsvahzj-6{list-style-type:none}
ul.lst-kix_da9wdzsvahzj-8{list-style-type:none}
ul.lst-kix_4ysbrerhfido-6{list-style-type:none}
ul.lst-kix_4ysbrerhfido-7{list-style-type:none}
ul.lst-kix_4ysbrerhfido-8{list-style-type:none}
ul.lst-kix_4ysbrerhfido-2{list-style-type:none}
ul.lst-kix_4ysbrerhfido-3{list-style-type:none}
ul.lst-kix_4ysbrerhfido-4{list-style-type:none}
ul.lst-kix_4ysbrerhfido-5{list-style-type:none}
.lst-kix_cuccmufq2tm3-6>
li{counter-increment:lst-ctn-kix_cuccmufq2tm3-6}
ol.lst-kix_cuccmufq2tm3-0.start{counter-reset:lst-ctn-kix_cuccmufq2tm3-0 0}
ul.lst-kix_4ysbrerhfido-0{list-style-type:none}
ul.lst-kix_4ysbrerhfido-1{list-style-type:none}
.lst-kix_cuccmufq2tm3-0>
li{counter-increment:lst-ctn-kix_cuccmufq2tm3-0}
ul.lst-kix_da9wdzsvahzj-1{list-style-type:none}
ul.lst-kix_da9wdzsvahzj-0{list-style-type:none}
ul.lst-kix_da9wdzsvahzj-3{list-style-type:none}
ul.lst-kix_da9wdzsvahzj-2{list-style-type:none}
ul.lst-kix_da9wdzsvahzj-5{list-style-type:none}
ol.lst-kix_ykwyem14egzq-5.start{counter-reset:lst-ctn-kix_ykwyem14egzq-5 0}
ul.lst-kix_da9wdzsvahzj-4{list-style-type:none}
ol.lst-kix_win26hr52u3x-1{list-style-type:none}
.lst-kix_b9zy9fimfcnz-0>
li:before{content:"\0025cf  "}
.lst-kix_b9zy9fimfcnz-1>
li:before{content:"\0025cb  "}
.lst-kix_eitjk3zg2xky-0>
li{counter-increment:lst-ctn-kix_eitjk3zg2xky-0}
ol.lst-kix_cuccmufq2tm3-7.start{counter-reset:lst-ctn-kix_cuccmufq2tm3-7 0}
.lst-kix_ykwyem14egzq-7>
li{counter-increment:lst-ctn-kix_ykwyem14egzq-7}
.lst-kix_b9zy9fimfcnz-2>
li:before{content:"\0025a0  "}
.lst-kix_b9zy9fimfcnz-3>
li:before{content:"\0025cf  "}
ol.lst-kix_cuccmufq2tm3-2.start{counter-reset:lst-ctn-kix_cuccmufq2tm3-2 0}
ol.lst-kix_ykwyem14egzq-3.start{counter-reset:lst-ctn-kix_ykwyem14egzq-3 0}
.lst-kix_b9zy9fimfcnz-6>
li:before{content:"\0025cf  "}
.lst-kix_cuccmufq2tm3-7>
li{counter-increment:lst-ctn-kix_cuccmufq2tm3-7}
.lst-kix_b9zy9fimfcnz-4>
li:before{content:"\0025cb  "}
.lst-kix_b9zy9fimfcnz-8>
li:before{content:"\0025a0  "}
.lst-kix_b9zy9fimfcnz-5>
li:before{content:"\0025a0  "}
.lst-kix_win26hr52u3x-8>
li:before{content:"\0025a0  "}
.lst-kix_ykwyem14egzq-5>
li{counter-increment:lst-ctn-kix_ykwyem14egzq-5}
.lst-kix_b9zy9fimfcnz-7>
li:before{content:"\0025cb  "}
ol.lst-kix_cuccmufq2tm3-8.start{counter-reset:lst-ctn-kix_cuccmufq2tm3-8 0}
ol.lst-kix_ykwyem14egzq-2.start{counter-reset:lst-ctn-kix_ykwyem14egzq-2 0}
.lst-kix_afs3k18fnsu5-2>
li:before{content:"\0025a0  "}
.lst-kix_win26hr52u3x-0>
li:before{content:"\0025cf  "}
.lst-kix_win26hr52u3x-2>
li:before{content:"\0025a0  "}
.lst-kix_afs3k18fnsu5-3>
li:before{content:"\0025cf  "}
ol.lst-kix_eitjk3zg2xky-1{list-style-type:none}
ol.lst-kix_eitjk3zg2xky-0{list-style-type:none}
.lst-kix_win26hr52u3x-1>
li:before{content:"" counter(lst-ctn-kix_win26hr52u3x-1,lower-latin) ". "}
.lst-kix_win26hr52u3x-4>
li:before{content:"\0025cb  "}
.lst-kix_win26hr52u3x-6>
li:before{content:"\0025cf  "}
.lst-kix_win26hr52u3x-3>
li:before{content:"\0025cf  "}
.lst-kix_win26hr52u3x-7>
li:before{content:"\0025cb  "}
.lst-kix_afs3k18fnsu5-1>
li:before{content:"\0025cb  "}
.lst-kix_cuccmufq2tm3-5>
li{counter-increment:lst-ctn-kix_cuccmufq2tm3-5}
.lst-kix_afs3k18fnsu5-0>
li:before{content:"\0025cf  "}
.lst-kix_win26hr52u3x-5>
li:before{content:"\0025a0  "}
ol.lst-kix_ykwyem14egzq-8.start{counter-reset:lst-ctn-kix_ykwyem14egzq-8 0}
.lst-kix_ykwyem14egzq-0>
li{counter-increment:lst-ctn-kix_ykwyem14egzq-0}
.lst-kix_ykwyem14egzq-3>
li{counter-increment:lst-ctn-kix_ykwyem14egzq-3}
ol.lst-kix_cuccmufq2tm3-3.start{counter-reset:lst-ctn-kix_cuccmufq2tm3-3 0}
.lst-kix_da9wdzsvahzj-1>
li:before{content:"\0025cb  "}
.lst-kix_ykwyem14egzq-1>
li{counter-increment:lst-ctn-kix_ykwyem14egzq-1}
.lst-kix_ykwyem14egzq-0>
li:before{content:"" counter(lst-ctn-kix_ykwyem14egzq-0,decimal) ". "}
.lst-kix_da9wdzsvahzj-5>
li:before{content:"\0025a0  "}
.lst-kix_869pmfprd98s-8>
li:before{content:"\0025a0  "}
.lst-kix_da9wdzsvahzj-7>
li:before{content:"\0025cb  "}
.lst-kix_869pmfprd98s-2>
li:before{content:"\0025a0  "}
.lst-kix_869pmfprd98s-4>
li:before{content:"\0025cb  "}
.lst-kix_cuccmufq2tm3-2>
li{counter-increment:lst-ctn-kix_cuccmufq2tm3-2}
.lst-kix_ykwyem14egzq-4>
li:before{content:"" counter(lst-ctn-kix_ykwyem14egzq-4,lower-latin) ". "}
ol.lst-kix_ykwyem14egzq-1.start{counter-reset:lst-ctn-kix_ykwyem14egzq-1 0}
.lst-kix_869pmfprd98s-6>
li:before{content:"\0025cf  "}
.lst-kix_ykwyem14egzq-2>
li:before{content:"" counter(lst-ctn-kix_ykwyem14egzq-2,lower-roman) ". "}
.lst-kix_cuccmufq2tm3-3>
li:before{content:"" counter(lst-ctn-kix_cuccmufq2tm3-3,decimal) ". "}
.lst-kix_cuccmufq2tm3-4>
li{counter-increment:lst-ctn-kix_cuccmufq2tm3-4}
.lst-kix_cuccmufq2tm3-1>
li:before{content:"" counter(lst-ctn-kix_cuccmufq2tm3-1,lower-latin) ". "}
.lst-kix_ykwyem14egzq-2>
li{counter-increment:lst-ctn-kix_ykwyem14egzq-2}
.lst-kix_869pmfprd98s-0>
li:before{content:"\0025cf  "}
.lst-kix_ykwyem14egzq-6>
li:before{content:"" counter(lst-ctn-kix_ykwyem14egzq-6,decimal) ". "}
.lst-kix_afs3k18fnsu5-4>
li:before{content:"\0025cb  "}
.lst-kix_afs3k18fnsu5-6>
li:before{content:"\0025cf  "}
ol.lst-kix_cuccmufq2tm3-0{list-style-type:none}
ol.lst-kix_cuccmufq2tm3-1{list-style-type:none}
.lst-kix_4ysbrerhfido-3>
li:before{content:"\0025cf  "}
.lst-kix_ykwyem14egzq-8>
li:before{content:"" counter(lst-ctn-kix_ykwyem14egzq-8,lower-roman) ". "}
ol.lst-kix_cuccmufq2tm3-6{list-style-type:none}
ol.lst-kix_cuccmufq2tm3-7{list-style-type:none}
.lst-kix_afs3k18fnsu5-8>
li:before{content:"\0025a0  "}
ol.lst-kix_cuccmufq2tm3-8{list-style-type:none}
.lst-kix_da9wdzsvahzj-3>
li:before{content:"\0025cf  "}
ol.lst-kix_cuccmufq2tm3-2{list-style-type:none}
ol.lst-kix_cuccmufq2tm3-3{list-style-type:none}
ol.lst-kix_cuccmufq2tm3-4{list-style-type:none}
.lst-kix_4ysbrerhfido-1>
li:before{content:"\0025cb  "}
ol.lst-kix_cuccmufq2tm3-5{list-style-type:none}
.lst-kix_4ysbrerhfido-5>
li:before{content:"\0025a0  "}
.lst-kix_4ysbrerhfido-7>
li:before{content:"\0025cb  "}
ol.lst-kix_cuccmufq2tm3-6.start{counter-reset:lst-ctn-kix_cuccmufq2tm3-6 0}
.lst-kix_cuccmufq2tm3-3>
li{counter-increment:lst-ctn-kix_cuccmufq2tm3-3}
ol{margin:0;
padding:0}
table td,table th{padding:0}

.c21{
border-right-style:solid;
padding:5pt 5pt 5pt 5pt;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:75pt;
border-top-color:#000000;
border-bottom-style:solid}

.c45{border-right-style:solid;
padding:5pt 5pt 5pt 5pt;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:72pt;
border-top-color:#000000;
border-bottom-style:solid}

.c4{border-right-style:solid;
padding:5pt 5pt 5pt 5pt;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:52.5pt;
border-top-color:#000000;
border-bottom-style:solid}

.c25{border-right-style:solid;
padding:5pt 5pt 5pt 5pt;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:321pt;
border-top-color:#000000;
border-bottom-style:solid}

.c30{border-right-style:solid;
padding:5pt 5pt 5pt 5pt;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:71.2pt;
border-top-color:#000000;
border-bottom-style:solid}

.c26{border-right-style:solid;
padding:5pt 5pt 5pt 5pt;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:57.8pt;
border-top-color:#000000;
border-bottom-style:solid}

.c10{border-right-style:solid;
padding:5pt 5pt 5pt 5pt;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:231.8pt;
border-top-color:#000000;
border-bottom-style:solid}

.c8{border-right-style:solid;
padding:5pt 5pt 5pt 5pt;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:53.2pt;
border-top-color:#000000;
border-bottom-style:solid}

.c42{color:#666666;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:15pt;
font-family:sans-serif;
font-style:normal}

.c14{color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:26pt;
font-family:serif;
font-style:normal}

.c36{background-color:#ffffff;
color:#ffffff;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-family:monospace;
font-style:normal}

.c2{color:#000000;
font-weight:700;
text-decoration:none;
vertical-align:baseline;
font-size:9pt;
font-family:serif;
font-style:normal}

.c33{color:#434343;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:14pt;
font-family:serif;
font-style:normal}

.c44{color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:20pt;
font-family:serif}

.figure {
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:center
}

.c56{color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:11pt;
font-family:serif}

.c24{color:#000000;
text-decoration:none;
vertical-align:baseline;
font-size:11pt;
font-family:serif;
font-style:normal}

.c19{color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-family:serif;
font-style:normal}

.c6{text-decoration-skip-ink:none;
font-size:10pt;
-webkit-text-decoration-skip:none;
color:#1155cc;
text-decoration:underline}

.c48{padding-top:10pt;
padding-bottom:10pt;
line-height:1.15;
text-align:left}

.table-text {
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:left
}

.c55{padding-top:0pt;
padding-bottom:16pt;
line-height:1.15;
text-align:left}

.fig-caption {
    padding-top:0pt;
    padding-bottom:10pt;
    line-height:1.15;
    text-align:center
}

.c54{padding-top:0pt;
padding-bottom:3pt;
line-height:1.15;
text-align:left}

.c50{padding-top:10pt;
padding-bottom:10pt;
line-height:1.15;
text-align:center}

.c11{text-decoration-skip-ink:none;
-webkit-text-decoration-skip:none;
color:#1155cc;
text-decoration:underline}

.c49{padding-top:16pt;
padding-bottom:4pt;
line-height:1.15;
text-align:left}

.c40{padding-top:0pt;
padding-bottom:6pt;
line-height:1.15;
text-align:left}

.c28{padding-top:16pt;
padding-bottom:10pt;
line-height:1.15;
text-align:left}

.c46{border-spacing:0;
border-collapse:collapse;
margin-right:auto}

.c53{text-decoration-skip-ink:none;
-webkit-text-decoration-skip:none;
text-decoration:underline}

.c1{color:inherit;
text-decoration:inherit}

.c22{font-weight:400;
font-family:monospace}

.c51{width:33%;
height:1px}

.c16{page-break-after:avoid}
.c29{color:#0000ff}
.c47{font-style:normal}
.c35{margin-left:216pt}
.c37{height:16pt}
.c32{font-family:monospace}
.c5{font-weight:700}
.c52{vertical-align:super}
.c23{height:0pt}
.c41{background-color:#ffffff}
.c38{height:20pt}
.c7{font-size:10pt}
.c15{font-size:9pt}
.c39{height:11pt}
.c43{font-size:16pt}

.title{padding-top:0pt;
color:#000000;
font-size:26pt;
padding-bottom:3pt;
font-family:serif;
line-height:1.15;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

.subtitle{padding-top:0pt;
color:#666666;
font-size:15pt;
padding-bottom:16pt;
font-family:sans-serif;
line-height:1.15;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

li{color:#000000;
font-size:11pt;
font-family:serif}

p{margin:0;
color:#000000;
font-size:11pt;
font-family:serif}

h1{padding-top:0pt;
color:#000000;
font-size:20pt;
padding-bottom:10pt;
font-family:serif;
line-height:1.15;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

h2{padding-top:0pt;
color:#000000;
font-size:16pt;
padding-bottom:6pt;
font-family:serif;
line-height:1.15;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

h3{padding-top:16pt;
color:#434343;
font-size:14pt;
padding-bottom:4pt;
font-family:serif;
line-height:1.15;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

h4{padding-top:14pt;
color:#666666;
font-size:12pt;
padding-bottom:4pt;
font-family:serif;
line-height:1.15;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

h5{padding-top:12pt;
color:#666666;
font-size:11pt;
padding-bottom:4pt;
font-family:serif;
line-height:1.15;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

h6{padding-top:12pt;
color:#666666;
font-size:11pt;
padding-bottom:4pt;
font-family:serif;
line-height:1.15;
page-break-after:avoid;
font-style:italic;
orphans:2;
widows:2;
text-align:left
}

.footnotes > p {
    line-height: 1.4;
}
